<!DOCTYPE html>
<html>
  <head>
    <title>Flask Stock Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        padding-top: 20px;
        font: 12px sans-serif;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div id="chart"></div>
    </div>
    <!-- <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script> -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <!-- <script src="/main.js"></script> -->
    <script>

// https://bl.ocks.org/alokkshukla/3d6be4be0ef9f6977ec6718b2916d168
function makeBubbles(dataset) {
  var diameter = 600;
  var color = d3.scaleOrdinal(d3.schemeCategory10);

  var bubble = d3.pack(dataset)
      .size([diameter, diameter])
      .padding(1.5);

  var svg = d3.select("body")
      .append("svg")
      .attr("width", diameter)
      .attr("height", diameter)
      .attr("class", "bubble");

  var nodes = d3.hierarchy(dataset)
      .sum(function(d) { return d.volume; });

  var node = svg.selectAll(".node")
      .data(bubble(nodes).descendants())
      .enter()
      .filter(function(d){
          return  !d.children
      })
      .append("g")
      .attr("class", "node")
      .attr("transform", function(d) {
          return "translate(" + d.x + "," + d.y + ")";
      });

  node.append("title")
      .text(function(d) {
          return d.name + ": " + d.volume;
      });

  node.append("circle")
      .attr("r", function(d) {
          return d.r;
      })
      .style("fill", function(d,i) {
          return color(i);
      });

  node.append("text")
      .attr("dy", ".2em")
      .style("text-anchor", "middle")
      .text(function(d) {
          return d.data.name.substring(0, d.r / 3);
      })
      .attr("font-family", "sans-serif")
      .attr("font-size", function(d){
          return d.r/5;
      })
      .attr("fill", "white");

  node.append("text")
      .attr("dy", "1.3em")
      .style("text-anchor", "middle")
      .text(function(d) {
          return d.data.volume;
      })
      .attr("font-family",  "Gill Sans", "Gill Sans MT")
      .attr("font-size", function(d){
          return d.r/5;
      })
      .attr("fill", "white");

  d3.select(self.frameElement)
      .style("height", diameter + "px");
}

d3.json('data').then((data) => {
  makeBubbles(data)
}).catch((err) => {
  console.log(err.message)
})




// makeBubbles(dataset)

// createGraph();

function createGraph() {
  console.log('Create Graph');
  // Code goes here
  var width = 960; // chart width
  var height = 700; // chart height
  var format = d3.format(",d");  // convert value to integer
  var color = d3.scaleOrdinal(d3.schemeCategory20)
  // var color = d3.scaleOrdinal(d3.schemeCategory);  // create ordinal scale with 20 colors
  
  // var sizeOfRadius = d3.scale.pow().domain([-100,100]).range([-50,50]);  // https://github.com/mbostock/d3/wiki/Quantitative-Scales#pow
  var sizeOfRadius = d3.scalePow().domain([-100,100]).range([-50,50]);  // https://github.com/mbostock/d3/wiki/Quantitative-Scales#pow
  
  // var bubble = d3.layout.pack()
  var bubble = d3.pack()
    // .sort(null)  // disable sorting, use DOM tree traversal
    .size([width, height])  // chart layout size
    .padding(1)  // padding between circles
    // Radius for each circle
    .radius(function(d) { return 20 + (sizeOfRadius(d) * 60); });

  var svg = d3.select("#chart").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "bubble");

  // REQUEST THE DATA
  console.log('d3.json')
  d3.json('data').then((quotes) => {
    handleQuotes(quotes)
  }).catch((err) => {
    console.log(err.message)
  })

  function handleQuotes(quotes) {
    console.log(quotes)
    var node = svg.selectAll('.node')
      .data(bubble.nodes(quotes)
      .filter(function(d) { return !d.children; }))
      .enter().append('g')
      .attr('class', 'node')
      .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'});
    node.append('circle')
      .attr('r', function(d) { return d.r; })
      .style('fill', function(d) { return color(d.symbol); });

  node.append('text')
    .attr("dy", ".3em")
    .style('text-anchor', 'middle')
    .text(function(d) { return d.symbol; });

  // tooltip config
  var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("visibility", "hidden")
    .style("color", "white")
    .style("padding", "8px")
    .style("background-color", "rgba(0, 0, 0, 0.75)")
    .style("border-radius", "6px")
    .style("font", "12px sans-serif")
    .text("tooltip");

  node.append("circle")
    .attr("r", function(d) { return d.r; })
    .style('fill', function(d) { return color(d.symbol); })

    .on("mouseover", function(d) {
      tooltip.text(d.name + ": $" + d.price);
      tooltip.style("visibility", "visible");
    })

    .on("mousemove", function() {
      return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
    })
    
    .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
  };
}
    
    </script>
  </body>
</html>